import type { ReactNode } from "react";

type {{ pascalCase name }}Props = {
  children?: ReactNode;
  className?: string;
};

export function {{ pascalCase name }}({ children, className }: {{ pascalCase name }}Props) {
  return (
    <div className={className}>
      {children}
    </div>
  );
}
